@model ErrorViewModel
@{ ViewData["Title"] = "Error"; }


<h3>An error occurred while processing your request.</h3>

<h1 class="text-danger"> @Model?.Error</h1>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>

}

<h3>Supported scenarios</h3>
Assuming, that the calling application is listening at 'https://localhost:44391' and the OAuthProxy at @Context.Request.Scheme://@Context.Request.Host.Value', the application shoud navigate to the following url:<br/>


<a href="@Context.Request.Scheme://@Context.Request.Host.Value/?callbackurl=https://localhost:44391">https://localhost:44390/home/?callbackurl=https://localhost:44391</a>

